@using BookShop.Shared
@using BookShop.Shared.Enums
@model BookShop.Shared.Pagination.Abstractions.IPagedResult<BookShop.Application.Models.BookModel>

@{
    ViewData["Title"] = "Book List";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
    var IsAdmin =  Context.User.IsInRole(Roles.Admin.GetName());
    var IsManager = Context.User.IsInRole(Roles.Manager.GetName());
    var IsAdminOrManager = IsAdmin || IsManager;
    
}


<p class="mb-2">
    <a class="bg-sky-600 text-white font-bold py-1 px-2 rounded transition duration-300" asp-action="BookForm">Add New Book</a>
</p>
    <form asp-action="BooksList" method="get" class="flex gap-x-2">
        <input asp-for="SearchByBookTitle" type="text" placeholder="Sear by book title" class="border border-gray-300 rounded px-2 py-1" />
        <input asp-for="SearchByAuthorName" type="text" placeholder="Search by author" class="border border-gray-300 rounded px-2 py-1" />
        @if (IsAdminOrManager)
        {
            <lable>
                <input asp-for="IsDeleted" type="checkbox"  placeholder="Show archived books"/>
                Show archived books
            </lable>
        }
        <button type="submit" class="bg-sky-600 text-white font-bold py-1 px-2 rounded transition duration-300">
            <i class="fa-solid fa-magnifying-glass"></i>
        </button>
    </form>
@if (Model.Items.Any())
{
    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayName("Id")</th>
                <th>
                    @Html.DisplayName("Title")
                    <a asp-route-SortDirection="1">
                        <i class="@("fa-solid fa-arrow-down-z-a " + (Model.SortDirection == SortDirection.Ascending ? "text-[#2563eb]" : ""))"></i>
                    </a>
                    <a asp-route-SortDirection="2">
                        <i class="@("fa-solid fa-arrow-up-a-z " + (Model.SortDirection == SortDirection.Descending ? "text-[#2563eb]" : ""))"></i>
                    </a>
                </th>
                <th>@Html.DisplayName("Description")</th>
                <th>@Html.DisplayName("Quantity")</th>
                <th>@Html.DisplayName("Price")</th>
                <th>@Html.DisplayName("ReleaseDate")</th>
                <th>@Html.DisplayName("Author Name")</th>
                <th></th> 
                <th></th>
            </tr>
        </thead>
        <tbody>
        @foreach (var item in Model.Items)
        {
            <tr class="@((item.IsDeleted ? "bg-[#f1e4e4]" : ""))">
                <td>@Html.DisplayFor(_ => item.Id)</td>
                <td>@Html.DisplayFor(_ => item.Title)</td>
                <td>@Html.DisplayFor(_ => item.Description)</td>
                <td>@Html.DisplayFor(_ => item.Quantity)</td>
                <td>💵&nbsp;@Html.DisplayFor(_ => item.Price)</td>
                <td>@item.ReleaseDate.ToString("yyyy-MM-dd")</td>
                <td>@item.Author.NameAndSurname</td>
                <td>
                    @if (item.IsDeleted == false)
                    {
                        @Html.Partial("_Rating", new RatingViewModel(RatingItemType.Book, item.Id, item.AverageRating, Model.CurrentPage))
                    }
                </td>
                <td class="flex gap-x-2">
                    
                        @if (!item.IsDeleted && IsAdminOrManager)
                        {
                        <form asp-action="RemoveBook" method="post">
                                <input type="hidden" name="bookId" value="@item.Id"/>
                                <div class="d-flex gap-x-2">
                                    <button class="bg-red-600 text-white font-bold py-1 px-2 rounded transition duration-300" asp-action="RemoveBook">
                                        <i class="fa-solid fa-trash"></i>
                                    </button>
                                    <a asp-action="BookForm" asp-route-id="@item.Id" class="bg-blue-600 text-white font-bold py-1 px-2 rounded transition duration-300">
                                        <i class="fa-solid fa-pen-to-square"></i>
                                    </a>
                                </div>
                            </form>
                        }
                        
                        @if (item.Quantity > 0 && !item.IsDeleted)
                        {
                            <form asp-controller="Cart" asp-action="AddToCart" method="post">
                                <input type="hidden" name="bookId" value="@item.Id"/>
                                <input type="hidden" name="currentPage" value="@Model.CurrentPage"/>
                                <button asp-controller="Cart" asp-action="AddToCart" class="bg-sky-600 text-white font-bold py-1 px-2 rounded transition duration-300">
                                    <i class="fa-solid fa-cart-shopping"></i>
                                </button>
                            </form>
                        }
                    
                </td>
            </tr>
        }
        </tbody>
    </table>

    <div class="d-flex">
        @foreach (var paginationButton in Enumerable.Range(1, Model.PageCount))
        {
            <a asp-route-CurrentPage="@paginationButton" asp-route-RowCount="10"
               class="font-bold mr-1 !px-1 rounded transition duration-300 cursor-pointer text-decoration-none @(Model.CurrentPage == paginationButton ? "bg-white-600 !text-sky-600 !border !border-sky-600" : "bg-sky-600 text-white")">
                @paginationButton
            </a>
        }
    </div>
}
else
{
    <p>Empty</p>
}
