@using System.Globalization
@model BookShop.Web.Models.BookDetailsViewModel;

@{
    var isEdit = Model.Book?.Id > 0;
    ViewData["Title"] = isEdit ? "Edit Book" : "Create Book";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>@(ViewData["Title"])</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="@(isEdit ? "EditBook" : "CreateBook")">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="Book.Id" type="hidden" class="form-control" />
            <div class="form-group">
                <label asp-for="Book.Title" class="control-label"></label>
                <input asp-for="Book.Title" class="form-control" value="@(isEdit ? Model.Book.Title : String.Empty)" />
                <span asp-validation-for="Book.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Description" class="control-label"></label>
                <textarea asp-for="Book.Description" class="form-control">@Model.Book.Description</textarea>
                <span asp-validation-for="Book.Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Price" class="control-label"></label>
                <input asp-for="Book.Price" type="number" step="any" class="form-control" value="@(isEdit ? Model.Book.Price.ToString("F2",CultureInfo.InvariantCulture) : String.Empty)" />
                <span asp-validation-for="Book.Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.Quantity" class="control-label"></label>
                <input asp-for="Book.Quantity" type="number" class="form-control" value="@(isEdit ? Model.Book.Quantity.ToString() : String.Empty)" />
                <span asp-validation-for="Book.Quantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.ReleaseDate" class="control-label"></label>
                <input asp-for="Book.ReleaseDate" type="date" class="form-control" value="@(isEdit ? Model.Book.ReleaseDate.ToString("yyyy-MM-dd") : String.Empty)" />
                <span asp-validation-for="Book.ReleaseDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.AuthorId" class="control-label d-block">Select Author</label>
                <select class="form-select w-100" asp-for="Book.AuthorId">
                    @foreach (var author in Model.Authors)
                    {
                        <option value="@author.Id" selected="@(isEdit && author.Id == Model.Book.AuthorId)">@Html.DisplayFor(_ => author.NameAndSurname)</option>
                    }
                </select>
                <span asp-validation-for="Book.AuthorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Book.CoverImgUrl" class="control-label"></label>
                <input asp-for="Book.CoverImgUrl" type="url" class="form-control" value="@(isEdit ? Model.Book.CoverImgUrl : String.Empty)" />
                <span asp-validation-for="Book.CoverImgUrl" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="@(isEdit ? "Save Changes" : "Create")" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="BooksList">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}